.side-bar
 .side-bar-header
  .side-bar-header__box
   %p.side-bar-header__box__name tsuru
   %ul.side-bar-header__box__item
    %li.side-bar-header__box__edit-user
     = link_to "#" do
      %i.fas.fa-edit
    %li.side-bar-header__box__new-group
     = link_to "#" do
      %i.fas.fa-cog

 .group-list
  = link_to "#" do
   .group-lists
    %p.group-lists__list-name キツツキ
    %p.group-lists__message まだメッセージがありません